  <div class="container">
  <nav>
        <ul>
          <li>
                    <div class="title">VISUALIZACIÓN DE PRESTACIONES</div>
                    <a href="/dashboard"><button class="btn crear-empleado">VOLVER</button></a>

          </li>
      </ul>
    </nav>
    <br>
    <br>
    <div class="barra_busqueda">
    <input class="barra_de_busqueda" type="text" placeholder="Buscar por Cedula...">
</div>
<div class="table-wrapper-busqueda">
     <table class="fl-table-busqueda">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
        </tr>
        <tbody>
    </table>
    </div>
    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Mes</th>
            <th>Tasa de Interés </th>
            <th>Salario Prestaciones Diario</th>
            <th>Día</th>
            <th>Prestaciones mensuales</th>
            <th>Prestaciones Acumuladas</th>
            <th>Interés de Prestaciones Sociales</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
        </tr>
        <tbody>
    </table>
    </div>
</div>
