<div class="container">
    <!-- Title section -->
     <nav>
        <ul>
          <li>
                    <div class="title">Crear Empleado</div>
                    <a href="/visualizacion-empleados"><button class="primary">VOLVER</button></a>
          </li>
      </ul>
    </nav>
  <br>  
  <br>
      <div class="content">
<br>
      <!-- Registration form -->
      <form action="#">
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <span class="details">Primer Nombre</span>
            <input type="text" placeholder="Ingrese nombre" required>
          </div>
          <!-- Input for Username -->
          <div class="input-box">
            <span class="details">Primer Apellido</span>
            <input type="text" placeholder="Ingrese Apellido" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <span class="details">Segundo Nombre</span>
            <input type="text" placeholder="Ingrese nombre" >
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <span class="details">Segundo Apellido</span>
            <input type="text" placeholder="Ingrese apellido" >
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <span class="details">Cedula</span>
            <input type="text" placeholder="ingrese cedula" maxlength="8" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <span class="details">Fecha de Inicio</span>
            <input type="date" required>
          </div>
           <div class="input-box">
            <span class="details">Fecha de Culminación   </span>
            <input type="date" >
          </div> 
          
        </div>
        
        
        
        <!-- Submit button -->
        <div class="boton">
          <input type="submit" value="crear">
        </div>
      </form>
    </div>
  </div>