  <div class="container">
  <nav>
        <ul>
          <li>
                    <div class="title">VISUALIZACIÓN DE EMPLEADOS</div>
                    <a href="/dashboard"><button class="btn">VOLVER</button></a>
          </li>
      </ul>
    </nav>
    <br>
    <br>
    <a href="/crear-empleado"><button class="btn crear-empleado">CREAR EMPLEADO</button></a>

    
<div class="barra_busqueda">
    <input class="barra_de_busqueda" type="text" placeholder="Buscar por Cedula...">
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Fecha de inicio</th>
            <th>Fecha de Culminación</th>
            <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
        </tr>
        <tbody>
    </table>
</div>
</div>