<nav>
			<div class="logo">
				<h1>SOAINT</h1>
			</div>
			
			<ul>
				<li><a href="/visualizacion-empleados">Empleados</a></li>
				<li><a href="/visualizacion-prestaciones">Prestaciones</a></li>
				<li><a href="">Anticipos</a></li>
				<li><a href="#">Retiros </a></li>
			</ul>
		</nav>  

        <br>
        <br>
        <br>
        <br>
        <br>    

<h2>ULTIMOS EMPLEADOS AGREGADOS</h2>
<br>
<br>
<div class="barra_busqueda">
    <input class="barra_de_busqueda" type="text" placeholder="Buscar por Cedula...">
</div>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cedula</th>
            <th>Fecha de inicio</th>
            <th>Fecha de Culminación</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
            <td>datos</td>
        </tr>
        <tbody>
    </table>
</div>